.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 768px) {
  .footer-top {
    background-color: $background-dark;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    ul {
      margin: 0 0 20px 0;
      padding: 0;
    }
  }
}

@media (min-width: 768px) {
  .footer-top {
    background-color: $background-dark;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    ul {
      margin: 0;
      padding: 0;
    }
  }
}

.social {
  display: flex;
  flex-direction: row;
  a {
    text-decoration: none;
    color: $font-light;
    padding: 10px;
  }
}

.footer-bottom {
  display: flex;
  background-color: $background-green;
  width: 100%;
  color: $font-light;
  justify-content: center;
  align-items: center;
  .copyright {
    text-align: center;
    padding: 10px;
  }
}

.menu-footer {
  a {
    display: block;
    color: white;
    text-decoration: none;
  }
}
