.product-card {
  padding: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 10px auto;
  width: 320px;
  border: 2px solid blue;
  justify-content: center;
}

.product-price {
  padding-bottom: 20px;
}
